body {
width: 850px;
margin: auto;
padding: 4% 2%;
font-family: serif;
font-size: 18pt;
text-align: justify;
}
.hednehog {
float: left;
font-size: 0.7em;
width: 211px;
height: 371px;
margin: 1% 2% 0 0;
}
.hednehog_img {
border: 4px solid rgb(0, 174, 242);
}
.text {
text-indent: 1.5em;
padding-top: 4px;

}
.sparse_text{
letter-spacing: 0.3em;
}
.attention {
float: left;
background-image: url('../image/Bang.png');
width: 60px;
height: 60px;
border: 2px solid rgb(0, 174, 242);
margin-right: 10px; 

}
.empty {
clear: both;
}
.attention_text {
font-size: 16pt;
}
