html {
    overflow-x: hidden;
    height: 100%;
  
    }
body {

	margin: 0;
	font-family: serif;
	font-size: 1.5em;
	text-align: justify;
}

.info {
	width: 100%;
	max-width: 850px; 
 	margin: 0 auto;
}
.hednehog {
width: 211px;
height: 350px;
display: flex;
flex-direction: column;
margin-left: -2px;

}

.hednehog_text_top {
float: left;
width: 225px;

}
.img_captions {
	font-size: 0.8em;
}
figcaption {
font-size: 0.8em;
}
.hednehog_img {
	border: 4px solid rgb(0, 174, 242);
}
.text {
	text-indent: 1.5em;
	padding-top: 12px;
	
}
.empty {
clear: both;
}
.sparse_text{
	letter-spacing: 0.3em;
}
.attention {
	float: left;
	background-image: url('../image/Bang.png');
	width: 60px;
	height: 60px;
	border: 2px solid rgb(0, 174, 242);
	margin-right: 10px; 
}

.mimoza_img {
	border: 4px solid rgb(0, 174, 242);
}
.attention_text {
	font-size: 1em;

}
.mimoza_before_after {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.caption_mimoza {
	text-align: center;
}

.attention_border {
	border: 2px solid rgb(0, 174, 242);
	width: 60px;
	float: left;
	margin-right: 10px;
}
.attention_red {
	margin: auto;
	background-image: url('../image/Bang_red.png');
	width: 45px;
	height: 60px;
}

.question {
	float: left;
	background-image: url('../image/question.png');
	width: 60px;
	height: 60px;
	border: 2px solid rgb(0, 174, 242);
	margin-top: 10px;
	margin-right: 20px;

}
.question_all {
	display: flex;
	flex-direction: row;
}
.question_chapter li {
	font-weight: bold;
}
.question_chapter li span {
	font-weight: normal;
}
@media screen and (max-width: 510px) {
	body {
		
		font-size: 1em;
	}

.question_all {
display: block;

}
.hednehog {
height: 300px;
}
}
